.topbar {
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 0.8px solid #EFEFEF
}

.topbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  flex: 1;
  max-width: 400px;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #ECF0F3;
  outline: none;
}

.icon-group {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}

.icon-circle {
  width: 36px;
  height: 36px;
  background-color: #F7F7F9;
  border: 1px solid #EBEBEB;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.icon-circle:hover {
  background-color: #ccc;
}

.material-icons {
  font-size: 20px;
  color: #333;
}
