<header class="topbar">
    <div class="topbar-content">
     <div></div>
      <input type="text" placeholder="Search..." class="search-bar" />
      <div class="icon-group">
        <div class="icon-circle">
          <span class="material-symbols-outlined">notifications</span>
        </div>
        <div class="icon-circle">
          <span class="material-symbols-outlined">help</span>
        </div>
        <div class="icon-circle">
          <span class="material-symbols-outlined">person</span>
        </div>
      </div>
    </div>
  </header>
  
  
