<aside class="sidebar">
    <h2 class="logo">My company</h2>
    <nav class="nav-links">
      <a routerLink="/dashboard">
        <span class="material-symbols-outlined icon">flash_on</span>
        Quick Action
      </a>
      <a routerLink="/users">
        <span class="material-symbols-outlined icon">group</span>
        Customers
      </a>
      <a routerLink="/settings">
        <span class="material-symbols-outlined icon">groups</span>
        Teams
      </a>
      <a routerLink="/logout">
        <span class="material-symbols-outlined icon">settings</span>
        Settings
      </a>
    </nav>
  </aside>
  
  